body {
    background-color: rgba(243, 239, 205, 0.603);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 1em;
}

p {
    font-size: 2em;
}

.list {
    font-size: large;
}