:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(229, 209, 255, 0.068);
    font-weight: 400;
}
a{
    font-style: normal;;
}
/* 
a{
    color: inherit;
}
a:hover {
    color: blue;
} */